{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('LMI - Impostor') }}{% endblock %}

{% block page_header %}
{% endblock %}

{% block primary_content_inner %}
    {% set is_an_impostor = h.lmi_is_current_user_an_impostor() %}
    {% set active_users = h.lmi_get_active_users_options() %}

    {% if is_an_impostor %}
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{ _("You are currently impersonating another user. Click a \"Return\" button at the toolbar to go back to your original account.") }}
        </div>
    {% endif %}

    {% snippet "let_me_in_impostor/impostor_burrow_identity.html", form=form, is_an_impostor=is_an_impostor, active_users=active_users %}
    <hr>
    {% snippet "let_me_in_impostor/impostor_generate_otl.html", form=form, otl_link=otl_link, otl_ttl=otl_ttl, active_users=active_users %}
    <hr>
    {% snippet "let_me_in_impostor/impostor_session_history.html", form=form, sessions=sessions %}
{% endblock %}

{% block secondary_content %}
    <div class="module module-narrow module-shallow">
        <h2 class="module-heading">
            <i class="fa fa-info-circle"></i>
            {{ _("Impostor") }}
        </h2>
        <div class="p-3">
            <h3>{{ _("Burrow Identity") }}</h3>
            <p>{{ _("This action will allow you to burrow into another user's account without needing their password.") }}</p>
            <p>{{ _("You will be logged in as the target user.") }} </p>
            <p class="m-0">{{ _("Use this feature with caution and only for legitimate administrative purposes.") }}</p>
        </div>

        <hr class="m-0">

        <div class="p-3">
            <h3>{{ _("Generate One-Time Login Link") }}</h3>
            <p>{{ _("This action will generate a one-time login link for the selected user.") }}</p>
            <p class="m-0">{{ _("The link can be used only once and will expire after use or after a certain period.") }}</p>
        </div>

        <div class="p-3">
            <h3>{{ _("Session History") }}</h3>
            <p>{{ _("The session history shows all past and active impersonation sessions.") }}</p>
            <p>{{ _("You can clear the impersonation session history by pressing the button below.") }}</p>

            <form method="POST" action="{{ h.url_for('let_me_in_impostor.clear_session_history') }}">
                {{ h.csrf_input() }}

                <button class="btn btn-outline-danger align-items-baseline">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    {{ _('Clear Session History') }}
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{ super() }}

    {% asset "let_me_in_impostor/lmi_impostor-css" %}
{% endblock %}

{% block scripts %}
    {{ super() }}

    {% asset "let_me_in_impostor/lmi_impostor-js" %}
{% endblock %}
